<!doctype html>
<html>
<body>
    <br><br><br><br><br><br><br><br>
    <center>
        <td>
        <div> 
            <input id ="sseRoom" type="text" >
            <button onclick="create()">create room </button> 
            <button onclick="join()">join room</button>
            
        </div>  
        </td>
    </center>
    
    <center>
        <br><br><br><br><br><br><br><br>
<table border=1>
    <thead>
    <td>Contact </td>
    <td>Chat </td>
    </thead>

        <script>
            var a=[]
        </script>
    {% for row in rows %}
    <tr>
        <script>
            a.push('{{row}}')
        </script>
        <td>{{row}}</td>
        <td>
        <div> 
           <button id ="{{row}}" onclick="webSocketChat(this.id)">Web Socket Chat </button>             
        </div>  
        </td>
    </tr>
    {% endfor %}
</table>

    </center>

        <script>
        function create() 
        {
                var name = document.getElementById("sseRoom").value;

                if (name != "")
                {
                    window.location="/wait/"+name;
                
                }
        }
        function join() 
        {
                var name = document.getElementById("sseRoom").value;
                if (name != "")
                {
                    window.location="/join/"+name;
                }
        }
        function webSocketChat(clickedId) {
                var contactname = clickedId;
                var myname = "{{myname}}"
                
                if ( myname > contactname )
                {
                    window.location="/chat/"+contactname+myname;
                }
                else
                {
                    window.location="/chat/"+myname+contactname;
                }
        }
        </script>

</body>
</html>